@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5%;
  background: rgb(14, 14, 105);
}

.logo {
  font-size: 3rem;
  color: white;
  font-weight: 700;
}

.navbar a {
  font-size: 1.9rem;
  color: white;
  margin-left: 4rem;
  font-weight: 700;
  padding: 10px;
}

#menu-icon {
  font-size: 3.6rem;
  color: white;
  cursor: pointer;
  display: none;
}

/* Home section  */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(185, 185, 210);
}

.home-img img {
  width: 20vw;
  border-radius: 50%;
  box-shadow: 0 0 25px rgb(14, 14, 105);
}

.home-content {
  margin-left: 5rem;
}

.home-content h3 {
  font-size: 3.7rem;
  font-weight: 700;
}

.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  color: rgb(14, 14, 105);
}

span {
  color: rgb(14, 14, 105);
}

.home-content p {
  font-size: 1.6rem;
  font-weight: 500;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 4rem;
  color: rgb(14, 14, 105);
  margin: 10px 5px;
}

.btn {
  display: inline-block;
  border-radius: 30px;
  font-size: 2rem;
  padding: 10px 20px;
  margin-top: 10px;
  color: white;
  background: rgb(14, 14, 105);
}

.btn:hover {
  background: white;
  color: rgb(14, 14, 105);
  border: 2px solid rgb(14, 14, 105);
  box-shadow: 0 0 25px rgb(14, 14, 105);
}

/* About Section  */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: rgb(214, 214, 220);
}

.about-img img {
  width: 25vw;
  margin-left: 30px;
  box-shadow: 0 0 25px rgb(14, 14, 105);
}

.heading {
  font-size: 5rem;
  text-align: center;
  color: rgb(14, 14, 105);
  margin-bottom: 3rem;
}

.about-content {
  padding: 0 4rem;
}

.about-content p {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 2rem 0 3rem;
  text-align: justify;
}

.skills a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: rgb(14, 14, 105);
  padding: 10px;
}

/* Projects Section  */

.projects {
  background: rgb(185, 185, 210);
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.project-box {
  background-color: #fefefe;
  border-radius: 10px;
  border: 2px solid rgb(14, 14, 105);
  width: 350px;
  text-align: center;
  overflow: hidden;
  margin: 10px;
}

.project-box img {
  flex: 1 1 30rem;
  width: 100%;
  height: 250px;
  padding: 10px;
  object-fit: cover;
}

.project-box h3 {
  font-size: 24px;
  padding: 10px;
  background: rgb(14, 14, 105);
  color: white;
}

.project-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background: rgb(14, 14, 105);
  color: white;
  padding: 10px;
  margin: 10px;
}

/* Contact section  */

.contact {
  background: rgb(214, 214, 220);
}

.contact form {
  max-width: 80rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: rgb(14, 14, 105);
  border-radius: 0.8rem;
  border: 2px solid rgb(14, 14, 105);
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
  margin: 0.7rem 0.35rem;
}

.footer {
  background: rgb(14, 14, 105);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

/* Responsive styles */
@media (max-width: 1024px) {
  html {
    font-size: 58%;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 25vw;
  }

  .about-img img {
    width: 35vw;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgb(14, 14, 105);
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .navbar.active {
    display: flex;
  }

  .navbar a {
    font-size: 2rem;
    padding: 2rem;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .home {
    flex-direction: column;
  }

  .home-img img {
    width: 40vw;
  }

  .home-content {
    margin-left: 0;
    text-align: center;
  }

  .about {
    flex-direction: column;
  }

  .about-img img {
    width: 50vw;
    margin: 0;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-box {
    width: 90%;
  }

  .contact form .input-box input {
    width: 100%;
    margin: 0.7rem 0;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .navbar a {
    font-size: 1.6rem;
    margin-left: 2rem;
  }

  #menu-icon {
    display: block;
  }

  .about-img img {
    width: 70vw;
  }

  .project-box {
    width: 100%;
  }
}
